@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------- Configuring Global Css Elements ----------------X */
:root{

    --main-btn-primary: salmon !important;
}

.btn-primary{
    background: var(--main-btn-primary);
    color: white;
}
/* Define the button styles */
.button {
    background-image: linear-gradient(to right, rgb(215, 112, 215), rgb(149, 149, 217));
    color: white;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
    /* Add a smooth color transition on hover */ 
}
.button:hover{
    /* background-image: linear-gradient(to right, rgb(215, 112, 215), rgb(149, 149, 217)); */
    color: rgb(239, 230, 230);
}

/* Animating the sponser section  */
.animate-slide{
    animation: slide infinite 13s  linear;
   
    /* background: red !important; */
    /* width: 100% !important;
    height: 100% !important; */
}

@keyframes slide {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* Backgroud of home header  */
.bg-video{
    width: 100%;
    background: url('./assets/bg.mp4') center center-cover no-repeat;
    height: 234px;
}